.main {
    display: grid;
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 50vh 100vh 50vh 100vh;
    grid-template-areas: 
      "home"
      "buffer1"
      "portfolio"
      "buffer2"
      "about";

}
.home{
    grid-area: "home";
    background-color: black;
    color: white;
    font-size: 40px;
}
.myNameMain{
    font-family: 'Questrial', sans-serif;
    color: #c6180b;
}
.portfolio{
    grid-area: "portfolio";
    background-color: #279a8b;
    padding: 15px;
}
.about{
    grid-area: "about";
    background-color: #c7ceb5;
}
.buffer1{
    background-image: url("../../images/bicycle-1872682.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.buffer2{
    background-image: url("../../images/home-office-1867761.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.videoTag{
    height: 100%;
}
.overlayText{
    position: absolute;
    top: 30%;
    left: 35%;
    font-family: 'Montserrat', sans-serif;
}
.portfolioTitle{
    text-align: center;
    margin: 10px 0px 15px 0px;
    font-size: 40px;
    font-family: 'Questrial', sans-serif;
}
.aboutTitle{
    text-align: center;
    margin: 10px 0px 15px 0px;
    font-size: 40px;
    font-family: 'Questrial', sans-serif;
}
h1 {
    color: #666;
  }
  h1:after {
    position: absolute;
    left: 0px;
    content: '';
    height: 80px;
    width: 425px;
    border-bottom: solid 3px #279a8b;
    
    -webkit-transform: scaleX(0.0001);
    -ms-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
    
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
  }
  h1:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }