.main {
    display: grid;
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 50vh 100vh 50vh 100vh 50vh 100vh;
    grid-template-areas: 
      "home"
      "buffer1"
      "portfolio"
      "buffer2"
      "about"
      "buffer3"
      "contact";

}
.home{
    grid-area: "home";
    background-color: black;
    color: white;
    font-size: 40px;
}
.portfolio{
    grid-area: "portfolio";
    background-color: darkslategray;
    font-size: 40px;
    padding: 15px;
}
.about{
    grid-area: "about";
    background-color: mediumorchid;
}
.contact{
    grid-area: "contact";
    background-color: powderblue;
}
.buffer1{
    background-image: url("../../images/bicycle-1872682.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.buffer2{
    background-image: url("../../images/home-office-1867761.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.buffer3{
    background-image: url("../../images/architecture-768432.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.videoTag{
    height: 100%;
}
.overlayText{
    position: absolute;
    top: 30%;
    left: 35%;
}
.portfolioTitle{
    text-align: center;
}
