.container{
    display: grid;
    overflow: hidden;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 
      "sidebar main";
}
.sidebar{
    grid-area: sidebar;
    background-color: indigo;
    position:fixed;
    top:0;
    height:100vh;
    width: 20%;
}
.main{
    grid-area: main;

}