.aboutMeContainer{
    display: grid;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 50%;
    grid-template-areas: 
      "aboutImage aboutText"
      "aboutLanguages aboutLanguages";
}
.aboutImage{
    grid-area: aboutImage;
    padding: 10px;
}
.aboutText{
    grid-area: aboutText;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
}
.aboutLanguages{
    grid-area: aboutLanguages;
    background-color: #279a8b;
    padding: 15px;
}
.myPicture{
    height: 80%;
}
.languageTitle{
    font-size: 35px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}
.languageIcons{
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
.languageList{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}